# Backend API Base URL (optional - defaults to relative path proxied by Vite)
VITE_API_URL=

# Clerk Authentication credentials
VITE_CLERK_PK=pk_test_c3VwZXJiLXJpbmd0YWlsLTQ3MjIuY2xlcmsuYWNjb3VudHMuZGV2JA
VITE_CLERK_HOST=superb-ringtail-4722.clerk.accounts.dev
